# Ignore local Terraform working dir
.terraform/

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore sensitive var files
*.tfvars
*.tfvars.json

# Ignore env/keys
*.pem
*.env
